:root {
  --bg-dark: #0f0f0f;
  --text-white: #ffffff;
  --gray-text: #aaaaaa;
}

:root {
    --font-main: 'Inter', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



body {

  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
body {
  font-family: var(--font-main);
  /* suavização da fonte*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: Roboto, inter, sans-serif;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font: inherit; 
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button i {
    color: var(--text-white);
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-dark);
    padding: 10px 16px;
    height: 56px;
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
}

.header-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-actions {
  display: flex;
  align-items: center;
  gap: 16px; 
  line-height: 0;
}

.header-actions i {
   font-size: 1.2rem; 
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
   
  font-size: 1.1rem;
  font-weight: 500;
}

.hero {
    margin-top: 56px;
    width: 100%;
    aspect-ratio: 3 / 1 ;
}

.hero img{
    width: 100%;
    height: 150px ;
    
    object-fit: cover;
}

.perfil-info {
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 1rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 12px;
  

  grid-template-areas: 
    "avatar"
    "textos"
    "botao"
  ;
}
.perfil-info img{
  margin-top: -25px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  justify-self: center;
  object-fit: cover;
}

.perfil-textos {
  grid-area: textos;
  

}

.btn-subscribe {
  grid-area: botao;
  background-color: var(--text-white);
  padding: 10px;
  border-radius: 50px;
  color: var(--bg-dark);
  width: 100%;
  margin-top: 20px;
  
}

.perfil-p button { 
  grid-area: seta; 
  display: flex;
}

.perfil-p{
  grid-area: textos;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.nav-interna ul {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 16px;
  overflow-x: auto; 
  white-space: nowrap;
  

}

.nav-interna ul::-webkit-scrollbar {  /* remove a barrinha de rolagem da nav */
  display: none;
}

.nav-interna li a {
  font-size: 0.850rem;
  font-weight: 600;
  font-size: 0.9rem;
  color: var(--gray-text);
}

.nav-interna ul li a.active{
  color: var(--text-white);
  border-bottom:3px solid var(--text-white);;
  padding-bottom: 9px;

}
.perfil-canal-miniatura {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.footer-box {
  bottom: 0;
  left: 0;
  width: 100%;
  position: fixed;
  border-top: 1px solid #272727;
  z-index: 100;
  padding: 3px;
  color: var(--text-white);
}



.btn-footer-box {
  display: flex;
  justify-content: space-around;
  gap: 16px; 
  align-items: center;
  color: var(--text-white);
  line-height: 0;
  height: 56px;

}

.botoes-f{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  font-size: 0.6rem; 
}

.botoes-f i, 
.botoes-f .material-symbols-outlined {
    font-size: 1.5rem; 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;  
    height: 24px; 
}

.btn-footer-box p {
  color: var(--text-white);
  margin: 0;
  
}

.btn-plus {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
}

.material-symbols-outlined {
  /* Ajusta a espessura do traço (wght) para combinar com o Bootstrap */
  font-variation-settings: 'wght' 300; 
}

.video-feed{
  padding: 10px;
}
.video-details {
  display:grid;
  grid-template-columns: auto 1fr auto;
  

  grid-template-areas: 
    "foto info opcoes"
  ;

  gap: 12px;

  align-items: start; /* Alinha pelo topo para o título ficar no lugar certo */
  padding: 12px 0;
}

.perfil-canal-miniatura {
  grid-area: foto;
}

.video-text {
  grid-area: info;
}
.video-details button {
  grid-area: opcoes;
}

.thumbnail {
  width: 100%;
  aspect-ratio: 16 / 9; /* Proporção padrão de vídeo */
  object-fit: cover;
  border-radius: 12px; 
}

.txt-desktop{
  display: none;
}

@media (min-width: 1024px){

  .footer-box {
    display: none; /* Remove o footer mobile */
  }

  .txt-mobile {
    display:none; 
  }

  .txt-desktop {
    display: block;
  }


  .perfil-info{
    display:grid;
    grid-template-columns: auto 1fr auto;

    
    grid-template-areas: 
        "avatar textos botao"
      ;

    /* Resetando alinhamentos do mobile */
    justify-items: start; 
    text-align: left;
    gap: 24px;
    padding: 20px 10%;
    
  }

  .btn-subscribe{
    width: auto;
    padding: 10px 20px;
    margin-top: 0;
    align-self: center;
  }
  
  .perfil-info img {
    margin-top: 0; 
    width: 160px;  
    height: 160px;
  }

  .perfil-p {
    justify-content: start;
  }

}